<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="adobereader" />
   <package id="adobereader-update" />
   <package id="dependencywalker" />
   <package id="dropbox" />
   <package id="Firefox" />
   <package id="GoogleChrome" />
   <package id="greenshot" />
   <package id="libreoffice" />
   <package id="logitechgaming" />
   <package id="notepadplusplus" />
   <package id="obs" />
   <package id="openhardwaremonitor" />
   <package id="procmon" />
   <package id="steam" />
   <package id="sublimetext3" />
   <package id="teamspeak" />
   <package id="teamviewer" />
   <package id="utorrent" />
   <package id="vlc" />
   <package id="windirstat" />
   <package id="yumi" />
</packages>
